
doctype html
html(lang="zh-cmn-Hans")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
      title="许愿瓶"
      link(rel="stylesheet", href="normalize.css")
      link(rel="stylesheet", href="wishbottle.css")
      script(type="text/javascript", src="lib.min.js")
      script(type="text/javascript", src="jweixin.js")
   body
      // background music
      audio#bg-music(preload="preload", src="our_same_word_compress.mp3", loop, autoplay="true")

      div#container
         div#copyright
            img(src="stu_logo.png")
            br
            span Copyright © 2015 Fudan STU. All rights reserved.
         div#canvas
            div#canvas-elements
            canvas#canvas-background
         div#bottle-container
            div#bottle
         div#editor
            div#editor-box.editor-box
               h3 写下你的祝福
               div.input-container
                  input(placeholder="姓名")
               div.input-container
                  textarea(placeholder="祝福", rows="7", maxlength="100")
                  p(style="margin: 0; text-align: right; color: #bbb")
                     small 不超过 100 字
               div.button-container
                  button#button-close x
                  button#button-submit submit
                  button#button-share share
         div#control-buttons
            a#mute-button.button.no-frame
               i.material-icons
                  &#xE050;

      script(type="text/javascript", src="wishbottle.min.js")
      script(type="text/javascript").
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', '']);
         _gaq.push(['_trackPageview']);
         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

// compiled with jade
