/**
* Created by shuding on 9/12/15.
* <ds303077135@gmail.com>
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(MaterialIcons-Regular.woff2) format('woff2'),
  url(MaterialIcons-Regular.woff) format('woff'),
  url(MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f6f6f6;
  overflow: hidden;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.button {
  border: 1px solid;
  border-radius: 4px;
}
.button.no-frame {
  border: none;
}

.gradient-0 {
  background: -webkit-linear-gradient(to bottom, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(to bottom, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(to bottom, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(to bottom, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #485563 10%, #29323c 90%); /* W3C */
}

.gradient-1 {
  background: -webkit-linear-gradient(to bottom, #005C97 10%, #363795 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(to bottom, #005C97 10%, #363795 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(to bottom, #005C97 10%, #363795 90%); /* IE10 */
  background:      -o-linear-gradient(to bottom, #005C97 10%, #363795 90%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #005C97 10%, #363795 90%); /* W3C */
}

.gradient-2 {
  background: -webkit-linear-gradient(to bottom, #f46b45 10%, #eea849 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(to bottom, #f46b45 10%, #eea849 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(to bottom, #f46b45 10%, #eea849 90%); /* IE10 */
  background:      -o-linear-gradient(to bottom, #f46b45 10%, #eea849 90%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #f46b45 10%, #eea849 90%); /* W3C */
}

.gradient-3 {
  background: -webkit-linear-gradient(to bottom, #E55D87 10%, #5FC3E4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(to bottom, #E55D87 10%, #5FC3E4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(to bottom, #E55D87 10%, #5FC3E4 90%); /* IE10 */
  background:      -o-linear-gradient(to bottom, #E55D87 10%, #5FC3E4 90%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #E55D87 10%, #5FC3E4 90%); /* W3C */
}

.gradient-4 {
  background: -webkit-linear-gradient(to bottom, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(to bottom, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(to bottom, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(to bottom, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #232526 10%, #414345 90%); /* W3C */
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  background-size: contain;
  background-position: center;
  background-image: url(bg.jpg);
}

#control-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px;
  z-index: 5;
}

#mute-button {
  margin-left: 10px;
  cursor: pointer;
}

#copyright {
  position: absolute;
  bottom: 0;
  margin: 10px;
  font-size: 12px;
  z-index: 0;
}

#copyright img {
  width: 37px;
  height: 18px;
  vertical-align: baseline;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#canvas-background, #canvas-elements {
  position: absolute;
  z-index: 2;
}

#canvas-background, #canvas-elements {
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  -moz-transition: all .5s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  -ms-transition: all .5s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  -o-transition: all .5s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  transition: all .5s cubic-bezier(0.895, 0.030, 0.105, 0.970);

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.scaled #canvas-background {
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  -o-transform: scale(4);
  transform: scale(4);
  opacity: 0;
}

.scaled #canvas-elements {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  z-index: 4;
  pointer-events: none;
}

#bottle-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 72px;
  height: 115px;
  margin: auto;
  z-index: 3;
}

#bottle {
  width: 72px;
  height: 115px;
  background-image: url(bottle.png);
  background-size: 100% 100%;
  cursor: pointer;
}

#editor-box {
  position: absolute;
  width: 90%;
  height: 80%;
  max-width: 400px;
  max-height: 310px;
  left: 0;
  right: 0;
  bottom: 170px;
  margin: auto;
  opacity: 0;

  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);

  -webkit-box-shadow: 0 5px 20px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 5px 20px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, .1);

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;

  -webkit-transition: all .8s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  -moz-transition: all .8s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  -ms-transition: all .8s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  -o-transition: all .8s cubic-bezier(0.895, 0.030, 0.105, 0.970);
  transition: all .8s cubic-bezier(0.895, 0.030, 0.105, 0.970);
}
#editor.expanded > #editor-box {
  opacity: .9;
  -webkit-box-shadow: 0 0 200px 200px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 200px 200px rgba(0, 0, 0, .5);
  box-shadow: 0 0 200px 200px rgba(0, 0, 0, .5);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#editor.expanded {
  pointer-events: all;
}
#editor-box input, #editor-box textarea {
  width: 100%;
  padding: 5px;
  margin: 0;
  outline: none;
  border: 1px solid #333;
  border-radius: 4px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}
#editor-box input:focus, #editor-box textarea:focus {
  border-color: #ccc;
}
#editor-box textarea[disabled] {
  color: #fff;
  background: none;
}
.input-container {
  margin: 20px 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#editor-box h3 {
  text-align: center;
}
#button-container {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  white-space: nowrap;
}
.submitted #button-share {
  display: inherit;
}
.submitted #button-submit {
  display: none;
}
#button-container button {
  height: 40px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: 900;
  color: #fff;
  outline: none;
  cursor: pointer;
}
#button-container button:active {
  box-shadow: 0 0 0 40px rgba(0, 0, 0, 0.3) inset;
}
#button-container .material-icons {
  font-size: 1em;
}
button#button-close {
  float: left;
  width: 40px;
  padding: 0;
  background: none;
  text-shadow: none;
  border-color: #333;
  color: #fff;
}
#button-share {
  display: none;
  float: left;
  width: calc(100% - 100px);
  background: #FF0455;
  text-shadow: 0 0 1px #F00;
}
#button-submit {
  float: left;
  width: calc(100% - 100px);
  background: #0DA6E0;
  text-shadow: 0 0 1px #056F9C;
}
.submitted input {
  display: none;
}
#editor-box.submitted textarea {
  border: none;
}
textarea + p {
  display: none;
}
.submitted textarea + p {
  display: inherit;
}
#canvas-elements > div {
  position: absolute;
  width: 50px;
  height: 45px;
  padding: 15px 5px 0 5px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  line-height: 15px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 30px #fff;
  cursor: pointer;
  color: transparent;
  background-image: -webkit-radial-gradient(50%, 50% 50%, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0));
  opacity: 0;

  -webkit-transition: color 1s ease, opacity 1s ease;
  -moz-transition: color 1s ease, opacity 1s ease;
  -ms-transition: color 1s ease, opacity 1s ease;
  -o-transition: color 1s ease, opacity 1s ease;
  transition: color 1s ease, opacity 1s ease;
}

#canvas-elements > div > i {
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 8px 3px #fff;
}
